{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "ie 11"]
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "i18n": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "./src/data/i18n/default/",
          "enforceDescriptions": true
        }]
      ]
    }
  }
}
